/*
 * Header
 */

@use '../abstracts/extends';
@use '../abstracts/variables' as vars;
@use 'sass:map';

.headerContainer  {
  @extend %fixed-position;
  height: 100px;
  top: 0;

  z-index: 5;

  padding: 0 10px;
  padding-top: 25px;
  background-color: map.get($map: vars.$primary-colors, $key: 900);
  text-align: center;
}