/*
 * Event Box
 */

 @use '../abstracts/variables' as vars;
 @use 'sass:map';
 

.eventBoxContainer {
  cursor: pointer;

  width: 90vw;
  padding: 30px 10px;
  border-radius: 10px;

  background-color: map.get($map: vars.$secondary-colors, $key: 300);
  color: map.get($map: vars.$primary-colors, $key: 900);

  .text {
    display: grid;
    grid-template-columns: 50% 50%;

    margin: auto 0;
  }

  &:hover {
    background-color: map.get($map: vars.$secondary-colors, $key: 500);
  }
}